@model IEnumerable<ZeroHungerProject.Models.CollectionModel>

@{
    ViewBag.Title = "CollectionList";
    Layout = "~/Views/ZHunger/_RestaurantLayout.cshtml";
}

<h2>CollectionList</h2>

<p>
    @Html.ActionLink("New Collection Request", "CreateCollection")
</p>
<table class="table">
    <tr>
        <th>Collection Type</th>
        <th>Collection Status</th>
        <th>Collection Date</th>
        <th>Collection Last Time</th>
        <th>Food Type</th>
        <th>Restaurant ID</th>
        <th>Branch ID</th>
        <th></th>

    </tr>

@foreach (var item in Model) {
    <tr>

        @{
            if (item.CollectionType == 1)
            {
                <td>Same Day</td>
            }
            else
            {
                <td>Different Day</td>
            }
        }
        @{
            if (item.CollectionStatus == 1)
            {
                <td>Not Collected</td>
            }
            else
            {
                <td>Collected</td>
            }
        }
        <td>
            @Html.DisplayFor(modelItem => item.CollectionDate.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollectionLastTime)
        </td>
        @{
            if (item.FoodType == 1)
            {
                <td>Perishable</td>
            }
            else
            {
                <td>Not-Perishable</td>
            }
        }
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchId)
        </td>

    </tr>
}

</table>
